.navbar-list{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0px 10%;    
    color: white;
    background-color:#13607c;
    font-size: 25px;
}

.nav-item{
    padding: 10px 30px;
    color: white;

}

.nav-item:hover{
    background-color:royalblue;
    transition-duration: 0.25s;
}
